<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot|GeminiAI</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Chatbot</h1>
        <div class="chat-container" id="chat-container"></div>
        <form id="chat-form">
            <input type="text" id="message-input" placeholder="Give Your Prompt..." name="prompt">
            <input type="submit" value="Send">
            <button onclick="cl()">Clear</button>
        </form>
    </div>

    <script src="/index.js"></script>
</body>

</html>